/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(to top, #A9CCE3 20%, white 50%, #A9CCE3 80%);
    background-repeat: no-repeat;
}
.cuerpo-documento{
    width: 100%;
    height: 84vh;
    background-color: transparent;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
footer{
    background: #A9CCE3;
    width: 100%;
    color: black;             
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 0.3%;
    position: fixed;
    bottom: 0;
}
