<body>

    <header>
        <div class="menu">

            <nav>
                <ul>
                    <li><a href="">Market Place </a> </li>
                    <li><a href="">Inicio </a></li>
                    <li><a href="">Usuario </a> </li>

                </ul>
            </nav>
        </div>
    </header>

    <form action="" method="post" class="register">

        <div class="fondo_formulario">

            <div class="">
                <h2>Pago en banco o Transferencia bancaria</h2>
            </div>

            <div class="box">
                <h4>Seleccione su banco </h4>
                <label><input type="checkbox" name="agrario" value="banco"> Banco Agrario</label><br>
                <label><input type="checkbox" name="bbva" value="banco"> Banco Bbva</label><br>
                <label><input type="checkbox" name="avvillas" value="banco"> Banco AV Villas</label><br>
                <label><input type="checkbox" name="cajasocial" value="banco"> Banco Caja social</label><br>
                <label><input type="checkbox" name="davivienda" value="banco"> Banco Davivienda</label><br>
                <label><input type="checkbox" name="deBogota" value="banco"> Banco de Bogota</label><br>
                <label><input type="checkbox" name="deOccidente" value="banco"> Banco de Occidente</label><br>
                <label><input type="checkbox" name="popular" value="banco"> Banco Popular</label><br>
                <label><input type="checkbox" name="bancolombia" value="banco"> Bancolombia</label><br>
            </div>
            <div class="box2">
                <h4>o Medio de transferencia</h4>
                <label><input type="checkbox" name="alamano" value="transferencia"> Ahorro a la mano</label><br>
                <label><input type="checkbox" name="daviplata" value="transferencia"> DaviPlata</label><br>
                <label><input type="checkbox" name="citibank" value="transferencia"> CitiBank</label><br>
                <label><input type="checkbox" name="cotrafa" value="transferencia"> Cotrafa</label><br>
                <label><input type="checkbox" name="nequi" value="transferencia"> Nequi</label><br>
                <label><input type="checkbox" name="rappypay" value="transferencia"> RappyPay</label><br>
                <label><input type="checkbox" name="giros" value="transferencia"> Giros y Finanzas</label><br>
                <label><input type="checkbox" name="financiera" value="transferencia"> Financiera
                    Regional-Iris</label><br>
                <label><input type="checkbox" name="skotiabank" value="transferencia"> SkotiaBank Colpatria</label><br>
            </div>

            <div class="boton"><button class=" banco-button" type="submit" value="Continuar">Continuar</button>
            </div>

            <aside class="imagen">
                <img src="assets/producto3.jpg" width="200" />

                <h3>Nombre del producto</h3>
                <label>Cantidad: 1</label>

                <div id="main-container">
                    <table>
                        <tr>
                            <TH>Total producto: </TH>
                            <TD>$10.000</TD>
                        </tr>

                        <tr>
                            <TH>Costo de envío: </TH>
                            <TD>Gratuito</TD>
                        </tr>

                        <tr>
                            <TH>Total a pagar: </TH>
                            <TD>$10.000</TD>
                        </tr>
                    </table>
                </div>
            </aside>
        </div>
    </form>
</body>