
<meta charset="utf-8" />
<!DOCTYPE html>
<html lang="es">
<app-barrahorizontalnavbar> </app-barrahorizontalnavbar>
<script src="comprobar.js"></script>
<tbody></tbody>  
<head>
  <title> carrito de compras </title>   
</head>
<body> 
 <div id="contenedor">
  <div id="header"> Carrito </div>
   <div id="nav"> Productos </div>
    <div id="contenido">
     <div class= "row"> 
      <div class="col-3">
        <ul>
            <li class="arriba">
                 <img src="/assets/imagenes/azucar.jpg" alt = "azucar" width = "100px" height = "100px" />
                 <p class = "nombre" id = "nombre"> AZUCAR </p>
                 <input id = "cantidad" class="item_Quantity" type="number" min="1" max="10" value="1"/>
                 <p> <span id = "precio"> 2000  </span> <button class="agregar"> Añadir al carrito </button> </p>
            </li>
            <li class="abajo">
                <img src = "/assets/imagenes/queso.jpg" alt = "queso" width = "100px" height = "100px" />
                <p class = "nombre" id = "nombre"> QUESO </p>
                <input id = "cantidad" class="item_Quantity" type="number" min="1" max="10" value="1"/>
                <p> <span id = "precio"> 5000  </span> <button class="agregar"> Añadir al carrito </button> </p>
           </li> 
        </ul> 
       </div>
       <div class="col-3">
         <ul>  
           <li class="arriba">
                 <img src = "/assets/imagenes/pan.jpg" alt = "pan" width = "100px" height = "100px" />
                 <p class = "nombre" id = "nombre"> PAN </p>
                 <input id = "cantidad" class="item_Quantity" type="number" min="1" max="10" value="1"/>
                 <p> <span id = "precio"> 3000  </span> <button class="agregar"> Añadir al carrito </button> </p>
            </li>
            <li class="abajo">
                <img src = "/assets/imagenes/leche.jpg" alt = "leche" width = "100px" height = "100px" />
                <p class = "nombre" id = "nombre"> LECHE </p>
                <input id = "cantidad" class="item_Quantity" type="number" min="1" max="10" value="1"/>
                <p> <span id = "precio"> 2500  </span> <button class="agregar"> Añadir al carrito </button> </p>
            </li> 
         </ul> 
       </div>
       <div class="col-3">
        <ul>
            <li class="arriba">
                 <img src = "/assets/imagenes/mortadela.jpg" alt = "mortadela" width = "100px" height = "100px" />
                 <p class = "nombre" id = "nombre"> MORTADELA </p>
                 <input id = "cantidad" class="item_Quantity" type="number" min="1" max="10" value="1"/>
                 <p> <span id = "precio"> 5500  </span> <button class="agregar"> Añadir al carrito </button> </p>
            </li>
            <li class="abajo">
                <img src = "/assets/imagenes/frijoles.jpg" alt = "frijoles" width = "100px" height = "100px" />
                <p class = "nombre" id = "nombre"> FRIJOLES </p>
                <input id = "cantidad" class="item_Quantity" type="number" min="1" max="10" value="1"/>
                <p> <span id = "precio" >  3200  </span> <button class="agregar"> Añadir al carrito </button> </p>
           </li> 
        </ul> 
       </div>
      </div>

      
    </div>
    <div id="footer">

        <button class="terminar"> Enviar </button>

        <button class="volver"> Cancelar </button>


       </div>
 </div>    
</body>
</html>      
        


 

     