<app-barrahorizontalnavbar> </app-barrahorizontalnavbar>
<div class="container">

    <header>Pagina principal</header>
    
    <div class="row">
    
    
    <div class="col-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla totam dolor earum quo corporis praesentium minima corrupti, quis temporibus! Similique reprehenderit rem cumque nam ducimus at animi laudantium iste harum.</div>
    
    <div class="col-3 fila1columna2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla totam dolor earum quo corporis praesentium minima corrupti, quis temporibus! Similique reprehenderit rem cumque nam ducimus at animi laudantium iste harum.</div>
    
    <div class="col-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla totam dolor earum quo corporis praesentium minima corrupti, quis temporibus! Similique reprehenderit rem cumque nam ducimus at animi laudantium iste harum.</div>
    
    <div class="col-3 fila1columna4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla totam dolor earum quo corporis praesentium minima corrupti, quis temporibus! Similique reprehenderit rem cumque nam ducimus at animi laudantium iste harum.</div>
    
    </div>
    
    
    <section class="row">
    
    
    <article class="col-7"><img class="img-thumbnail" src="/assets/imagenes/perro.jpg" ></article>
    
    <aside class="col-5"><img src="https://phantom-marca.unidadeditorial.es/7cb2899480933f97db73bc98971a44aa/resize/828/f/webp/assets/multimedia/imagenes/2021/03/24/16166003217594.jpg" alt="tigre" class="img-thumbnail"></aside>
    
    </section>
    
    <div class="row">
    
    
        <div class="col-3 fila3columna1"><img src="https://previews.123rf.com/images/gigra/gigra1704/gigra170400040/76998176-ilustraci%C3%B3n-de-una-persona-con-formulario-de-registro-aislado-sobre-fondo-blanco.jpg" alt="tigre" class="img-thumbnail"><button class="btn btn-dark nav-link" [routerLink]="['formu_registrar']"><div>Formulario registro</div></button></div>
        
        <div class="col-3 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla totam dolor earum quo corporis praesentium minima corrupti, quis temporibus! Similique reprehenderit rem cumque nam ducimus at animi laudantium iste harum.</div>
        
        <div class="col-3 fila3columna3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla totam dolor earum quo corporis praesentium minima corrupti, quis temporibus! Similique reprehenderit rem cumque nam ducimus at animi laudantium iste harum.</div>
        
        <div class="col-3 ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla totam dolor earum quo corporis praesentium minima corrupti, quis temporibus! Similique reprehenderit rem cumque nam ducimus at animi laudantium iste harum.</div>
        
        </div>
    
    
    
    
    <footer>Pagina reservada @2021</footer>
    
    </div>
    
    