<header>
<nav class="barra-navegacion">
    <!-- Container wrapper -->
    <div class="div-contenedor">
        <!-- Icono barra -->
        <a href="index.html"><img src="/assets/icono_markeplace.svg" alt="Logo del sitio" class="icono">    
        </a> 
        <!-- boton iniciar sesion -->
        <div class="div-botones-nav">
            <button type="button" class="nav-btn-iniciar">
            Iniciar Sesión
            </button>
        <!-- boton registrarse sesion -->
            <button type="button" class="nav-btn-registrarse">
            Registrarse
            </button>
        </div>
    </div>
  </nav>
</header>
